<html>
    <head>
        <title>hello</title>
        <script src='/index.js'></script>
        <link href="/index.css" rel="stylesheet" type="text/css" /> 
    </head>
    <body>
        <div onclick='foo()'>this is a html</div>
        <div>nickName: <%= dataSource.nickName %> </div>
        <div>fullName: <%= dataSource.fullName %> </div>

        <% if (userInfo) { %>
          <h2><%= userInfo.name %></h2>
        <% } %>
    </body>
</html>